.container{
    width:200%;
    height:70vh;
    background-color: linear-gradient(to right, #dd122d, #ffc340);
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: 0 0 40px rgba(238, 81, 81, 0.5);
}

.form-box{
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #fff;
    padding: 50px 60px 70px;
    text-align: center;
}

.form-box h1{
    font-size: 2em;
    margin-bottom:1.5em;
    color:#ffdb3b;
    position: relative;
}

.form-box h1::after{
    content: '';
    width:30px;
    height: 4px;
    border-radius:3px;
    background:#ffcd60;
    position: absolute;
    bottom: -12px;
    left:50%;
    transform: translateX(-50%);
    
}

.input-field{
    background:#ddd;
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;
}

.input-field i{
    margin-left:15px;
    
}






.dark-mode {
    background: linear-gradient(to right, #2e1a64, #3f9c6e);
    color: #8eff61;
  }
  
  .dark-mode button {
    background-color: #60a358; /* Darker button background color in dark mode */
    color: white;
  }
  
  .dark-mode button:hover {
    background: #20631a; /* Darker hover color in dark mode */
  }
  
  .dark-mode h3,
  .dark-mode label[for='new-task'] {
    color: #8eff61; /* Lighter heading color in dark mode */

  }
  
  .dark-mode input[type="text"] {
    border: 1px solid #f5f5f5; /* Darker border color for text input in dark mode */
    background: #222e55; /* Darker background color for text input in dark mode */
    color: #ffffff; /* Lighter text color for text input in dark mode */
  }
  
  .dark-mode #completed-tasks label {
    color: #ffffff; /* Darker color for completed tasks in dark mode */
  }
  
  .dark-mode ul li::before {
    content: '🌙'; 
  }


body { 

    background: #fff; 

    color: #f3e73b; 

    font-family: Optima, sans-serif; 
    text-shadow: 2px 2px 4px rgb(172, 151, 151);

    background: #f05050; 

    /* fallback for old browsers */ 

    background: -webkit-linear-gradient(to right, #ee4444, #f89654); 

    /* Chrome 10-25, Safari 5.1-6 */ 

    background: linear-gradient(to right, #f3453f, #ffcd60); 

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

} 

ul{
    color:#ffffff;
    font-family: Optima;
    font-size: 20px;
    /* text-transform: uppercase; */
}

 

#title {
    margin-top: 5px;
    font-size: 56.6px; 
    font-family: Optima, 'Optima Pro Bold';
    text-align: center;
    white-space:nowrap;
}

/* Media query for smaller screens */
@media screen and (max-width: 600px) {
    #title {
        font-size: 2em; /* Adjusted font size for smaller screens */
    }
}
 

.container { 

    display: block; 

    width: 80vw; 

    margin: 150px auto 0; 

} 

 
ul li {
    list-style: 'list-';
    position: relative;
    padding: 3px 0 2px 25px;
  }
  
  ul li::before {
    content: '☀️';
    position: sticky;
    top: 6px;
    left: 0;
  }
h3 { 

    clear: both; 

    list-style: none; 

} 

 

input, 

button { 

    outline: none; 

} 

 

button { 

    background-color: #f1c915; 

    border: none; 

    color: white; 

    padding: 15px 32px; 

    text-align: center; 

    text-decoration: none; 

    display: inline-block; 

    padding: 5px; 

    margin: 5px; 

    font-size: 13px; 

    border-radius: 10%; 

} 

 

button:hover { 

    background: #f3f17b; 

    text-decoration: none; 

    cursor: pointer; 

} 

 

 

/* Heading */ 

 

h3, 

label[for='new-task'] { 

    color: #ffdb3b; 

    font-family: Optima;

    font-weight: 700; 

    font-size: 30px; 

    border-bottom: 2px solid #ffffff; 

    padding: 30px 0 10px; 

    margin: 0; 

    /* text-transform: uppercase;  */

} 

 

input[type="text"],input[type="Password"] { 

    margin: 0; 

    font-size: 18px; 

    line-height: 18px; 

    height: 18px; 

    padding: 10px; 

    border: 1px solid #ddd; 

    background: #fff; 

    border-radius: 6px; 

    font-family: Optima, sans-serif; 

    color: #fd5b5b; 

} 

 

input[type="text"]:focus { 

    color: #f74545; 

} 

 

 

/* New Task */ 

 

label[for='new-task'] { 

    display: block; 

    margin: 0 0 20px; 

} 

 

input#new-task { 

    float: left; 

    width: 318px; 

} 

 

 

/* Task list */ 

 

li { 

    overflow: hidden; 

    padding: 20px 0; 

    /* border-bottom: 1px solid #eee;  */



} 

 

li>input[type="checkbox"] { 

    margin: 0 10px; 

    position: static; 

    top: 15px; 

} 

 

li>label { 

    font-size: 18px; 

    line-height: 10px; 

    width: 237px; 

    padding: 0 0 0 11px; 

} 

 

li>input[type="text"] { 

    width: 226px; 

} 

 

li>.delete:hover { 

    color: #CF2323; 

} 

 

 

/* Completed */ 

 


#completed-tasks label {
    text-decoration: line-through;
    font-family: Optima, 'Italic';
    color: #ffffff;
    
}



 

/* Edit Task */ 

 

ul li input[type=text] { 

    display: none; 

} 

 

ul li.editMode input[type=text] { 

    display: block; 

} 

 

ul li.editMode label { 

    display: none; 

} 

 

#clear { 

    float: right; 
    text-align: center;
}