/* Basic Style */ 

 

body { 

    background: #fff; 

    color: #f3e73b; 

    font-family: Optima, sans-serif; 

    background: #f05050; 

    /* fallback for old browsers */ 

    background: -webkit-linear-gradient(to right, #ee4444, #f89654); 

    /* Chrome 10-25, Safari 5.1-6 */ 

    background: linear-gradient(to right, #f3453f, #ffcd60); 

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 

} 

ul{
    color:#ffffff;
    font-family: Optima;
    font-size: 20px;
    /* text-transform: uppercase; */
}

 

#title { 

    margin-top: 5px; 

    font-size: 70px; 

    font-family: Optima, 'Optima Pro Bold'; 

    text-align: center; 

} 

 

.container { 

    display: block; 

    width: 55vw; 

    margin: 150px auto 0; 

} 

 
ul li {
    list-style: 'list-';
    position: relative;
    padding: 3px 0 2px 25px;
  }
  
  ul li::before {
    content: '☀️';
    position: sticky;
    top: 6px;
    left: 0;
  }
h3 { 

    clear: both; 

    list-style: none; 

} 

 

input, 

button { 

    outline: none; 

} 

 

button { 

    background-color: #f1c915; 

    border: none; 

    color: white; 

    padding: 15px 32px; 

    text-align: center; 

    text-decoration: none; 

    display: inline-block; 

    padding: 5px; 

    margin: 5px; 

    font-size: 13px; 

    border-radius: 10%; 

} 

 

button:hover { 

    background: #e7fc2d; 

    text-decoration: none; 

    cursor: pointer; 

} 

 

 

/* Heading */ 

 

h3, 

label[for='new-task'] { 

    color: #ffdb3b; 

    font-family: Optima;

    font-weight: 700; 

    font-size: 30px; 

    border-bottom: 2px solid #ffffff; 

    padding: 30px 0 10px; 

    margin: 0; 

    /* text-transform: uppercase;  */

} 

 

input[type="text"] { 

    margin: 0; 

    font-size: 18px; 

    line-height: 18px; 

    height: 18px; 

    padding: 10px; 

    border: 1px solid #ddd; 

    background: #fff; 

    border-radius: 6px; 

    font-family: Optima, sans-serif; 

    color: #fd5b5b; 

} 

 

input[type="text"]:focus { 

    color: #f74545; 

} 

 

 

/* New Task */ 

 

label[for='new-task'] { 

    display: block; 

    margin: 0 0 20px; 

} 

 

input#new-task { 

    float: left; 

    width: 318px; 

} 

 

 

/* Task list */ 

 

li { 

    overflow: hidden; 

    padding: 20px 0; 

    /* border-bottom: 1px solid #eee;  */



} 

 

li>input[type="checkbox"] { 

    margin: 0 10px; 

    position: static; 

    top: 15px; 

} 

 

li>label { 

    font-size: 18px; 

    line-height: 10px; 

    width: 237px; 

    padding: 0 0 0 11px; 

} 

 

li>input[type="text"] { 

    width: 226px; 

} 

 

li>.delete:hover { 

    color: #CF2323; 

} 

 

 

/* Completed */ 

 


#completed-tasks label {
    text-decoration: line-through;
    font-family: Optima, 'Italic';
    color: #ffffff;
}

 

 

/* Edit Task */ 

 

ul li input[type=text] { 

    display: none; 

} 

 

ul li.editMode input[type=text] { 

    display: block; 

} 

 

ul li.editMode label { 

    display: none; 

} 

 

#clear { 

    font-size: 15px; 

    float: right; 

    text-align: center; 
}